/* For demo */
@import "~antd/lib/style/themes/default.less";

.root {
  width: 100%;
  background: #ffffff;
  border: 1px solid #1890FF;
  border-radius: 5px;
  padding: 20px;
  font-weight: 600;
  // color: blue;
}

.title {
  color: red;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 10px 10px;
}

.button {
  margin: 10px auto;
  text-align: center;
}
